body {
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 100px;
    
}

::selection{
    color: rgb(255, 255, 255);
    background-color: rgb(56, 48, 48) ;
}

.header, .footer{
    width: 100%;
    position: fixed;
    left: 0
}
.header{
    background-image: url("../assets/fondo-plantas.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    top: 0;
    font-weight: lighter;
}

.titlesection, .title{
    text-align: center;
}

.title{
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.menu, p span, .footer{
    background-color: darkolivegreen;
}

.plantas, .frasecelebre{
    color: darkolivegreen;
}

.subtitle{
    text-align:end;
    margin-top: 0px;
    margin-right: 604px;
    margin-bottom: 0px;
    font-style: italic;
}

.flex-container{
    display: flex;
    margin-top: 0px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.bottom{
    height: 30px;
    width: 30px;
    margin: 10px;
}

.textrrss, .content{
    align-items: center;
}

.content{
    margin-top: 220px;
    margin-bottom: 40px;
    padding-top: 80px;
    display: flex;
    justify-content:space-around;
}

a, .lista, p span, .footer{
    color:antiquewhite;
}

a{
    text-decoration: none;
}
a:hover{
    color:rgb(224, 168, 93);
    text-decoration: underline;
}

.menu{
    flex-direction: column;
    width: 300px;
    height: 500px;
    margin: 10px;
    border-style: double;
}

.lista{
    padding-left: 28px;
    font-size: 30px;
    list-style: none;
    text-align:left;
}

.titlesection{
    text-decoration: underline;
    font-size: 25px;
}

.info{
    width: 400px;
    height: 460px;
    flex-grow: 4;
    margin-right: 20%;
    font-size: 25px;
    padding: 20px;
    text-justify:distribute;
    
}

.gif{
    width: 150px;
    height: auto;
    align-items: center;
    margin-left: 50%;
}

.frasecelebre{
   width: 600px;
   height: 200px;
   text-align: center;
   background-color: rgb(255, 176, 72);
   margin-left: auto;
   margin-right: auto;
   margin-top: 80px;
   margin-bottom: 80px;
   padding: 10px;
}

.frase{
    font-size: 35px;
    text-align: left;
    margin-top: 10px;
}

.autor{
    font-size: 15px;
    text-align: right;
    margin-top: 0px;
    font-style: italic;

}

.infoPersonal{
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 300px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    margin-right: auto;
    margin-left: auto;
}

.infoPersonal>p{
    font-size:large;
}
.listaForm{
    list-style: none;
    text-align: left;
}

#mail{
    margin-left: 33px;
}

.alerttext, #alertcheckbox, #alertinteres, #alertsubmit{
    font-size: small;
    color: red;
    font-style: italic;
}

.borde{
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    outline: none;
}
.bordegris{
    border-radius: 5px;
    border-color: grey;
}

.borderojo{
    border-radius: 5px;
    border-color: rgb(234, 12, 12);
}

.bordeverde{
    border-radius: 5px;
    border-color: rgb(21, 231, 31);
}

.footer{
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 10px;
    margin-bottom: 0px;
    vertical-align: bottom;
    bottom: 0;
    height: 40px;
}
